<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/libs/layui/css/layui.css' />
    <title>Document</title>
</head>
<body>
    <div class="layui-container">  
        常规布局（以中型屏幕桌面为例）：
        <div class="layui-row">
          <form class="layui-form" action="">
              <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-from-block">
                            <input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">

                    </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-from-block">
                        <input type="password" name="title" required lay-verify="required" autocomplete="off" class="layui-input">

                </div>
          </div>
          </form>
        </div>
    </div>
</body>
</html>